
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: arial, sans-serif;
}
ul {
    list-style-type: none;
}

#nav-bar {
    z-index: 1;
    background-color: red;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 52px;
}
#nav-bar li {
    float: left;
    margin-top: 10px;
    
}
#google-logo-top {
    outline: 1px solid;
    margin: 15px 25px;
}
#google-logo-top img {
    height: 28px;
    width: 86px;
}
#search-bar {
    height: 33px;
    width: 690px;
    margin: 0 20px;
    border: 1px solid;
    border-radius: 17px;
    vertical-align: middle;
    
}
#search-bar input {
    height: 32px;
    margin-left: 20px;
    font-size: 15px;
    min-width: 87%;
    border: none;
}
#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
#x-img {
    height: 20px;
    vertical-align: middle;
}
#glass-img {
    height: 17px;
    vertical-align: middle;
    margin-left: 10px;
}
#google-apps-button {
    padding-top: 6px;
}
#sign-in-button {
    padding-top: 8px;
    margin: 20px 27px;
}
#sign-in-button a {
    background-color: #1a73e8;
    padding: 8px 23px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border: 1px transparent #1a73e8;
    border-radius: 4px;
}
#sign-in-button a:hover {
    background-color: #3580e3;
}
#google-apps-button img {
    height: 25px; 
}
#sub-bar {

    position: absolute;
    left: 0;
    top: 35px;
    height: 55px;
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}
#sub-bar li {
    float: left;
    margin-top: 23px;
}
#sub-bar a {
    font-size: 13px;
    padding: 10px 10px;
    text-decoration: none;
    color: #5f6368;
}
#selected-element a {
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
}
main {
    font-size: 14px;
}
main a {
    text-decoration: none;
}
#main-section {
    outline: 1px solid;
    position: absolute;
    left: 180px;
    top: 110px;
    width: 640px;
}
#first-block {
    margin-left: 5px;
    padding: 2px 17px 7px 17px;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}
.green-link {
    line-height: 9px;
}
.green-link a {
    color: #202124;
}
.main-link {
    font-size: 20px;
    line-height: .1px;
}
.main-link a {
    color: #1a0dab;
}
.main-link a:hover {
    text-decoration: underline;
}
.tiny-links {
    position: absolute;
    margin-top: 5px;
    right: 0;
}
.tiny-links a {
    color: #70757a;
    font-size: 12px;
    padding: 0 12px;
}
.tiny-links a:hover {
    text-decoration: underline;
}
.page-blocks {
    margin: 30px 12px;
}
.page-blocks p {
    color: #4d5156;
}
#people-ask {
    padding: 0;
    margin: -15px 10px 0 10px;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}
#people-ask li {
    border-bottom: .5px solid #dfe1e5;
} 
.ul-head {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
}
#people-ask a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#video-container {
    padding: 0;
    margin-top: 3px;
    margin-left: 15px;
    width: 700px;
    height: 295px;
}
.video {
    float: left;
    width: 212px;
    height: 290px;
    margin: 0 7px;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}
.video img {
    border: 1px;
    border-radius: 10px;
}
.video a {
    font-size: 16px;
    color: #1a0dab;
}
.video a:hover {
    text-decoration: underline;
}
.video-title {
    padding: 0 15px;
}
.video-text {
    margin-top: 50px;
    margin-left: 5px;
    line-height: 20px;
}